{% load cart_tag %}

Total Length :: {{request.session.cart|length}}

Cart Detail:

</p><br>
 {% if request.session.cart.items %}       
{% for key,value in request.session.cart.items %}

<a href="{% url 'frontend:cart_clear' %}"><i class="fa fa-trash"></i>Delete all your cart</a><br>

<div class="col-md-6">
    
    product name:{{value.name}}<br> price:<a href="#">${{value.price}}</a><br> quantity:{{value.quantity}}<br> <img src="{{value.image}}" alt="img" width="200px" height="200px"><br> Total price: <a href="#">${{ value.price|multiply:value.quantity }}</a>
<br>
<a href="{% url 'frontend:item_clear' value.product_id %}"><i class="fa fa-trash"></i>Delete this item</a><br>
<a href="{% url 'frontend:item_increment' value.product_id %}">+Increment</a><br>
<a href="{% url 'frontend:item_decrement' value.product_id %}">-Decrement</a><br><br>


<a href="{% url 'home' %}" class="btn btn-success">Continue Shopping</a> <a href="{% url 'frontend:checkout' %}" class="btn btn-primary">Proceed to checkout</a>
    
            

</div>
    
{% endfor %}

    {% else %}
        <h3>your cart is empty </h3>
{% endif %}


<div class="row billing-fields">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 sm-margin-30px-bottom">
        <div class="create-ac-content bg-light-gray padding-20px-all">
                <fieldset>
                    <h2 class="login-title mb-3">Billing details</h2>
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-firstname">First Name <span class="required-f">*</span></label>
                            <input name="firstname" value="" required id="input-firstname" type="text">
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-lastname">Last Name <span class="required-f">*</span></label>
                            <input name="lastname" value="" required id="input-lastname" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-email">E-Mail <span class="required-f">*</span></label>
                            <input name="email" value="" required id="input-email" type="email">
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-telephone">Telephone <span class="required-f">*</span></label>
                            <input name="telephone" value="" required id="input-telephone" type="tel">
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6 col-xl-6">
                            <label for="input-company">Company</label>
                            <input name="company" value="" required  id="input-company" type="text">
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-address-1">Address <span class="required-f">*</span></label>
                            <input name="address_1" value="" required id="input-address-1" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6 col-xl-6">
                            <label for="input-address-2">Apartment <span class="required-f">*</span></label>
                            <input name="address_2" value="" required id="input-address-2" type="text">
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-city">City <span class="required-f">*</span></label>
                            <input name="city" value="" required id="input-city" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-postcode">Post Code <span class="required-f">*</span></label>
                            <input name="postcode" value="" required id="input-postcode" type="text">
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-country">Country <span class="required-f">*</span></label>
                            <select name="country_id" required id="input-country">
                                <option value=""> --- Please Select --- </option>
                                <option value="244">Aaland Islands</option>
                                <option value="1">Afghanistan</option>
                                <option value="2">Albania</option>
                                <option value="3">Algeria</option>
                                <option value="4">American Samoa</option>
                                <option value="5">Andorra</option>
                                <option value="6">Angola</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-zone">Region / State <span class="required-f">*</span></label>
                            <select name="zone_id" id="input-zone">
                                <option value=""> --- Please Select --- </option>
                                <option value="3513">Aberdeen</option>
                                <option value="3514">Aberdeenshire</option>
                                <option value="3515">Anglesey</option>
                                <option value="3516">Angus</option>
                            </select>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="row">
                        <div class="form-group form-check col-md-12 col-lg-12 col-xl-12">
                            <label class="form-check-label padding-15px-left">
                                <input type="checkbox" class="form-check-input" value=""><strong>Create an account ?</strong>
                            </label>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12 col-xl-12">
                            <label for="input-company">Order Notes <span class="required-f">*</span></label>
                            <textarea class="form-control resize-both" rows="3"></textarea>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
