{% extends 'frontend/base.html' %}

{% load static %}

{% block title %}

  blog detail page 

{% endblock %}
{% load cart_tag %}

{% block content %}
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center mb-0">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Blog Article</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
	    <div class="bredcrumbWrap">
            <div class="container breadcrumbs">
                <a href="{% url 'home' %}" title="Back to the home page">Home</a><span aria-hidden="true">›</span>
                <a href="{% url 'frontend:blog' %}" title="Back to News">News</a><span aria-hidden="true">›</span><span>Blog Article</span>
            </div>
        </div>
        <p>
          <span><a href="{% url 'frontend:blog_list' %}" style="margin: 10px;" class="btn btn-primary"><i class="fa fa-heart"></i>Favourite</a></span>
        </p>
       
        <div class="container">
        	<div class="row">
                <!--Main Content-->
                <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
                    <div class="blog--list-view">
                    	<div class="article"> 
                            <!-- Article Image --> 
                             <a class="article_featured-image" href="#"><img class="blur-up lazyload" data-src="{{race.image.url}}" src="{{race.image.url}}" alt="It's all about how you wear"></a> 
                            <h1><a href="#">{{race.title}}</a></h1>
                            <ul class="publish-detail">                      
                                <li><i class="anm anm-user-al" aria-hidden="true"></i>  {{race.created_by}}</li>
                                <li><i class="icon anm anm-clock-r"></i> <time datetime="2017-05-02">{{race.created_at}}</time></li>
                                <li>
                                    <ul class="inline-list">   
                                        <li><i class="icon anm anm-comments-l"></i> <a href="#">{{comment|length}}comments</a></li>
                                        <li><i class=""></i> <a href="#">
                                          {{ total_likes }} | Like{{ total_likes|pluralize }}
                                          {% if request.user.is_authenticated %}
                                          <form action="{% url 'frontend:like_blog' race.id %}" method="post">
                                              {% csrf_token %}
                                              {% if is_liked %}
                                              <button type="submit" name="post_id" value="{{ race.id }}" class="btn btn-danger">Dislike</button>
                                              {% else %}
                                              <button type="submit" name="post_id" value="{{ race.id }}" class="btn btn-success">Like</button>
                                              {% endif %}
                                          </form>
                                          
                                          {% endif %}
                                        </a></li>
                                        <li> <a href="#">
                                          {% if  is_favourite %}
									                      <a href="{% url 'frontend:blog_post' race.id  %}" class="btn btn-danger"><i class="fa fa-heart"></i>Delete favourite</a>
									                      {% else %}
									                      <a href="{% url 'frontend:blog_post' race.id %}" class="btn btn-primary"><i class="fa fa-heart"></i>Add to favourite</a>
									                {% endif %}
                                        </a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="rte"> 
                                <p>
                                  {{race.description}}
                                </p>
                                <h3>Sample Text Listing</h3>
                                <ul class="list-items">
                                	<li>Donec et lacus mattis ipsum feugiat interdum non id sapien.</li>
                                    <li>Quisque et mauris eget nisi vestibulum rhoncus molestie a ante.</li>
                                    <li>Curabitur pulvinar ex at tempus sodales.</li>
                                    <li>Mauris efficitur magna quis lectus lobortis venenatis.</li>
                                    <li>Nunc id enim eget augue molestie lobortis in a purus.</li>
                                </ul>
                                <h3>Donec maximus quam at lectus bibendum, non suscipit nunc tristique.</h3>
                                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                            </div>
                            <hr/>
                            <div class="social-sharing">

                              <a target="_blank" href="#" class="btn btn--small btn--secondary btn--share share-facebook" title="Share on Facebook">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i> <span class="share-title" aria-hidden="true">Share</span>
                                </a>
                                <a target="_blank" href="#" class="btn btn--small btn--secondary btn--share share-twitter" title="Tweet on Twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i> <span class="share-title" aria-hidden="true">Tweet</span>
                                </a>
                                <a href="#" title="Share on google+" class="btn btn--small btn--secondary btn--share" >
                                    <i class="fa fa-google-plus" aria-hidden="true"></i> <span class="share-title" aria-hidden="true">Google+</span>
                                </a>
                                <a target="_blank" href="#" class="btn btn--small btn--secondary btn--share share-pinterest" title="Pin on Pinterest">
                                    <i class="fa fa-pinterest" aria-hidden="true"></i> <span class="share-title" aria-hidden="true">Pin it</span>
                                </a>
                                <a href="#" class="btn btn--small btn--secondary btn--share share-pinterest" title="Share by Email" target="_blank">
                                    <i class="fa fa-envelope" aria-hidden="true"></i> <span class="share-title" aria-hidden="true">Email</span>
                                </a>
                            </div>
                            <div class="blog-nav">
                            	<div class="text-left">
                                	<i class="icon icon-arrow-circle-left"></i>
                                    <a href="#" title="">Previous</a>
                                </div>
                                <div class="text-right">
                                    <a href="#" title="">Next</a>
                                    <i class="icon icon-arrow-circle-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="formFeilds contact-form form-vertical">
                          <div style="background-color: yellow;">
                          {% for x in comment %}
                          Name:{{x.name}}<br>
                          Email:{{x.email}}
                          <p>
                            Message:{{x.comment}}
                          </p>
                          Posted on:{{x.created_at}}
                          {% endfor %}
                          </div>
                          <form method="post" action="#" id="comment_form" accept-charset="UTF-8" class="comment-form">
                            {% csrf_token %}
                              <h2>Leave a comment</h2>
                              <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                    <input type="text" id="ContactFormName" name="name" placeholder="Name" value="" required="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                    <input type="email" id="ContactFormEmail" name="email" placeholder="Email" value="" required="">                        	
                                    </div>
                                </div>
                                
                              </div>
                              <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                    <textarea required="" rows="10" id="ContactFormMessage" name="comment" placeholder="Your Message"></textarea>
                                    </div>
                                </div>  
                              </div>
                              <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <p class="fine-print">Please note, comments must be approved before they are published</p>
                                    <input type="submit" class="btn" value="Send Message">
                                </div>
                             </div>
                         </form>
                        </div>
                    </div>
                </div>
                <!--End Main Content-->
                <!--Sidebar-->
            	<div class="col-12 col-sm-12 col-md-3 col-lg-3 sidebar">
                	<div class="sidebar_tags">
                    	<div class="sidebar_widget categories">
                            <div class="widget-title"><h2>Category</h2></div>
                            <div class="widget-content">
                                <ul class="sidebar_categories">
                                	<li class="lvl-1 "><a href="http://annimexweb.com/" class="site-nav lvl-1">Beauty</a></li>
                                    <li class="lvl-1  active"><a href="#" class="site-nav lvl-1">fashion</a></li>
                                    <li class="lvl-1 "><a href="#" class="site-nav lvl-1">summer</a></li>
                                    <li class="lvl-1 "><a href="#" class="site-nav lvl-1">trend</a></li>
                                    <li class="lvl-1 "><a href="#" class="site-nav lvl-1">winter</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar_widget">
                        	<div class="widget-title"><h2>Recent Posts</h2></div>
							<div class="widget-content">
                                <div class="list list-sidebar-products">
                                  
                                  <div class="grid">
                                    <div class="grid__item">
                                      <div class="mini-list-item">
                                        <div class="mini-view_image">
                                          {% for x in recent %}
                                            <a class="grid-view-item__link" href="#">
                                                <img class="grid-view-item__image blur-up lazyload" data-src="{{x.image.url}}" src="{{x.image.url}}" alt="" />
                                            </a>
                                        </div>
                                        <div class="details"> <a class="grid-view-item__title" href="#">{{x.title}}</a>
                                          <div class="grid-view-item__meta"><span class="article__date"> <time datetime="2017-05-02T14:33:00Z">Posted on::{{x.created_at}}</time></span></div>
                                        </div>
                                        {% endfor %}
                                      </div>
                                    </div>
                                    
                                    
                                    
                                  </div>
                                </div>
                          	</div>
						</div>
                        <div class="sidebar_widget static-banner">
                        	<img src="assets/images/side-banner-2.jpg" alt="">
                        </div>
						<div class="sidebar_widget">
                        	<div class="widget-title"><h2>Trending Now</h2></div>
							<div class="widget-content">
                                <div class="list list-sidebar-products">
                                  <div class="grid">
                                    <div class="grid__item">
                                      <div class="mini-list-item">
                                        <div class="mini-view_image">
                                          {% for x in trending %}
                                            <a class="grid-view-item__link" href="{% url 'frontend:two' x.id %}">
                                                <img class="grid-view-item__image blur-up lazyload" data-src="{{x.image.url}}" src="{{x.image.url}}" alt="img" />
                                            </a>
                                        </div>
                                        <div class="details"> <a class="grid-view-item__title" href="#">{{x.name}}</a>
                                          <div class="grid-view-item__meta"><span class="product-price__price"><span class="money">${{x.price}}</span></span></div>
                                          {% endfor %}
                                        </div>
                                      </div>
                                    </div>
                                    
                                    
                                    
                                  </div>
                                </div>
                          	</div>
						</div>
                    </div>
                </div>
                <!--End Sidebar-->
            </div>
        </div>
        
    </div>
    <!--End Body Content-->

  {% endblock %}
    
    