    {% extends 'frontend/base.html' %}

    {% load static %}
    
    {% block title %}
        Register
    {% endblock %}

{% block content%}
    <!--Body Content-->
    <div id="page-content"><br><br><br><br>
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Create an Account</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                	<div class="mb-4">
                       
                        <form method="post" action="#" id="CustomerLoginForm" accept-charset="UTF-8" class="contact-form">
                            {% csrf_token%}
                            <div class="row">
                                
                                 
                              {{form}}

                              </div>
                              
                            <div class="row">
                              <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                                  <input type="submit" class="btn mb-3" value="Sign up">
                              </div>
                           </div>
                           <p>
                               <small>
                                Already have an account <a href="{% url 'frontend:custom_login' %}" class="btn btn-primary">Login</a>
                               </small>
                           </p>	
                            
                     </form>
                    </div>
               	</div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->

    {% endblock %}
    
    